.card{
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    height: fit-content;
    min-height: 15vh;
    min-width:12rem;
    display: flex;
    flex-direction: column;
    text-align: center;

    
    
}

.card_img{
    border-radius: 10px 10px 0 0;
    object-fit: cover;
    width: 100%;
    height: 12rem;
}

.card_body{
    border-radius: 0 0 10px 10px;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;

    background: linear-gradient(184deg, var(--twelfth) 0%, var(--thirteenth) 100%);


    
}



.card_name,.card_team_age,.card_nationality{
    line-height: 100%;
    margin: 1vh 0;

}




.btn_div{
    display: flex;
    flex-grow: 1;
    
}


.card_btn{
  

    border: none;
    border-top: 1px solid var(--gray);
    background-color: transparent;
    font-family: inherit;
    font-size: 20px;
    font-weight: bold;
    color: inherit;
    cursor: pointer;
    transition: all 0.5s ease;
    padding: 1% 0;
    margin: 1% auto;
    width: 90%;
    
}

.card_btn:hover{

    color: var(--sixth);

}

@media screen and (max-width: 600px){

    .card{
        flex-direction: row;
        width: 90vw;
        height: fit-content;
        max-height: 160px;
        min-height: 100px;
    }

    .card_img{
        max-width: 35vw;
        border-radius: 10px 0 0 10px;
        height: auto;
        

    }

    .card_body{
        border-radius: 0 10px 10px 0;
    }

    .card_team_age,.card_nationality{
        font-size: 15px;
    }

    .card_name{
        font-size: 25px;
    }

    .card_btn{

        font-size: 17px;
       
        
    }

    
    
}

@media screen and (max-width: 400px){


    .card_team_age,.card_nationality{
        font-size: 13px;
    }

    .card_name{
        font-size: 20px;
    }


    .card_btn{

        font-size: 15px;
       
        
    }
    
    
}