@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rubik+Iso&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


:root{
  --light: white;
  --dark: black;
  --gray: gray;
  --first: rgb(19, 31, 107);
  --secound: rgb(100, 43, 117);
  --third: #2a0467;
  --fourth:#110458;
  --fifth: #0f05a000;
  --sixth: #65429c;
  --seventh:#9e4784;
  --eigth:#37306b;
  --ninth: rgba(3,0,61,1);
  --tenth: rgba(50,0,57,1);
  --eleventh: #fdbeff;
  --twelfth:rgb(12, 6, 117);
  --thirteenth:rgb(65, 11, 115);
}



.playerspage{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:  "Ubuntu", sans-serif;
  color: var(--light);
  background: linear-gradient(179.4deg, var(--first) -16.9%, var(--secound) 119.9%);
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.playerpage ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.playerspage a{
  color:var(--light);
  text-decoration: none;
  font-family:  "Ubuntu", sans-serif;

}


.playerspage footer {
  margin-top: auto;
  width: 100%;
  color: var(--light);
  align-items: center;
  justify-content: center;
}


.playerspage h1 {
  color: var(--light);
  margin-bottom: 10px;
  font-weight: 900;
}



.wrapper{
  margin: 2rem;
  display: grid;
  gap: 1.2rem;
  grid-template-columns: repeat(auto-fit,minmax(16rem,18rem));
  justify-content: center;
  transition: all 0.5s ease;
  
  
}

@media screen and (max-width: 660px){
    .wrapper{
      grid-template-columns: 1fr;
      
    }

    .nav_item{
      display: none;
    }
}